.HomePage-container{
    margin: 0 auto;
    background-color: rgb(117, 214, 182);
    height: 40rem;
    width: 30rem;
}
.homePage-player{
    display: flex;
    width: 20rem;
    height: 10rem;
    background-color: bisque;
}