.HomePage-container{
    margin: 0 auto;
    background-color: rgba(87, 61, 6, 0.103);
    height: 40rem;
    width: 65rem;
}
.homePage-player{
    display: flex;
    width: 24rem;
    height: 13rem;
    background-color: rgba(255, 228, 196, 0.151);
}