@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');


$green-bg: #4c7972;
$white-bg: #ffffff;
$highlight-bg: #ffffff1c;


$green-light-bg: #7E9E99;
$green-dark-bg: #406862;
$body-bg: #efefef;
$container-bg: #ffffff;
$footer-bg: #03292c;
$price-bg: #ff0000;
$light-grey: #E9E9E9;
$medium-grey: #F6F6F6;
$dark-grey: #B5B5B5;



$logo-fs: 3.5rem;
$nav-item-fs: 1.8rem;


$text-font: "Roboto Condensed", sans-serif;
$menu-item: "Bebas Neue";
$logo-font: "Dorsa";
$box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);

@mixin nav-item-design() {
    font-family: $menu-item;
        font-size: $nav-item-fs;
        color: $white-bg;
        line-height: normal;
        display: flex;
        width: 15rem;
        height: 4rem;
        align-items: center;
        justify-content: center;
        background-color: rgb(8, 8, 8);
        border-left: 1px solid grey;
}