
.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(73, 180, 180);
  background-image: url('./assets/WallpaperDog-317268.jpg');
  background-size: cover;
  color: white;
  
}
*{
  margin: 0;
  box-sizing: border-box;
}

// body{
  
//   display:flex;
//   min-height: 100vh;
  
//   .App {
//       height: 100%;
//       overflow-x: hidden;
//       display: flex;
//       justify-content: space-between;
//       margin-top: 8em;
     
//   }}