@import "../../styles/variables.scss";


.nav-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    
    
.nav-popup{
    height: 2rem;
    background-color: rgb(20, 11, 36);
    
}
.nav-links{
    display: flex;
    background-color: $navInactive-item-bg;
    justify-content: center;
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;
    
    .ina-nav-item{
        @include nav-item-design;   
    }:nth-child(5){
        border-right: 1px solid $border-grey;
    }
    .nav-item{
        @include nav-item-design;
        background-color: $navActive-item-bg;
    }
}


    
}